<!DOCTYPE html>
<html>
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
        <% include ../static/partials/navbar.ejs %>

        <main class="container">
            <h1><%= markedWiki.title %></h1>
            <% if(currentUser) { %>
                <a href="/wikis/<%= markedWiki.id %>/edit" class="btn btn-warning">Edit</a>
                <% if(currentUser.isAdmin() || currentUser.id == markedWiki.userId) { %>
                    <form style="display:initial" action="<%= markedWiki.id %>/destroy" method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                <% } %>
            <% } %>

            <p><%- markedWiki.body %></p>
                    
        </main>
    </body>
</html>