<!DOCTYPE html>
<html>
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
        <% include ../static/partials/navbar.ejs %>

        <main class="container">
            <h1>Payment</h1>
            <% if(currentUser) { %>
                <div>
                    Upgrade to Premium membership for $15.00
                </div>
                <div>
                    <form action="/users/<%= currentUser.id %>/payed" method="POST">
                        <script
                          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                          data-key="pk_test_yjnm3XX41GN3UuvbETOjSolG"
                          data-amount="1500"
                          data-name="Blocipedia"
                          data-description="Example charge"
                          data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                          data-locale="auto"
                          data-currency="cad">
                        </script>
                      </form>
                </div>
            <% } %>
        </main>
    </body>
</html>